.hero-container {
  background-image: url("../../assets/images/banner.png");
  height: 68vh;
  /* width: 185vh; */
  background-size: cover; /* or use 'contain' */
  background-position: center;
  padding: 5vh;
  display: flex;
  flex-direction: column;
}
.cards-container{
    
    padding: 5vh;
    border-radius: 5vh;
    display: flex;
    flex-wrap: wrap;
    
}
.card {
margin: 2.5vh;
padding:2.5vh;
display: flex;
flex-direction: column;

width: 40vh;
height: 48vh;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

.btn{
  position: absolute;
  bottom: 1%;
  margin-bottom: 2vh;
  margin-top:2vh
}
.row{
  display: flex;
  justify-content: space-between;
}
}
.card {
  
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.hero-text h1 {
  font-size: 7vh;
  /* color: rgba(0, 0, 0, 0.783); */
  line-height: 10vh;
  width: 60%;
  font-weight: 800;
}

.hero-text p {
  font-size: 90%;
  width: 50%;
  line-height: 2;
}

.search-container {
  display: flex;
  flex-direction: row;
}
