
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
  --primary-color: #110229;
  --secondary-color: #1DAEFF;
  --tertiary-color: #585981;

}
*,body{
  font-family: 'Lato', sans-serif;
}
body{
  margin: 5vh;
}
.btn-secondary{
  color: var(--secondary-color);
  padding: 2vh;
  border:1px  solid var(--secondary-color);
  border-radius: 1vh;
  font-weight: bolder;
  align-items: baseline;
  background-color: white;
  cursor: pointer;
}
.btn-primary{
  background-color: var(--secondary-color);
  padding: 2vh;
  border: none;
  border-radius: 1vh;
  font-weight: bolder;
  align-items: baseline;
  color: rgba(255, 255, 255, 0.902);
  cursor: pointer;
}
.btn-primary:hover{
  
    transition: 0.1s ease-in-out;
    background-color: #1A9BE6;
    color: white;
  
}
.buttons{
  margin-top: 3vh;
}