.logo-img {
  height: 10%;
  width: 12%;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header-content ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  
  
  li {
    text-transform: capitalize;
    
    margin-right: 5vh;
  }
}
