.sell-property{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 8vh;
    align-items: center;
}


.sell-property{

  .form-group input,select,textarea{
    width: 30vh;
  }

  
.sell-property-container {
 display: flex;


  .hero-content {
    display: flex;
    justify-content: center;
  

    h1 {
      font-size: 2.5rem;
      display: flex;
      align-items: flex-end;
    }
    span {
      color: var(--secondary-color);
    }
    .hero-img {
      margin-left: 2vh;
    
      height: 70vh;
      border-radius: 5vh;
    }
  }

  .sell-property-form {
    display: flex;
    
    height: 60vh;
    flex-direction: column;
    margin-left: 5vh;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2vh rgba(0, 0, 0, 0.37);

  }

  .amenities {
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: column; */
    
  }
  .amenities input{
    width: 2vh;
    margin-right: 4vh;
    margin-top: 1.1vh;
  }
  
}

.sell-property-form .form-group {
  margin-bottom:4vh;
  text-align: left;
}

.sell-property-form label {
  font-size: 2vh;
  display: block;
  color: #555555;
}

.sell-property-form input,textarea,select {
 
  padding: 1vh;
  
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.sell-property-form input[type="file"]
{
  height: 18vh;
  

}

.sell-property-form input:focus,textarea:focus,select:focus {
  border-color: var(--secondary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
.column{
    margin-right: 3vh;
}

.sell-property-form {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
}

.row {
  display: flex;
  flex-direction: row;
}

}